[submodule "modules/mplayer"]
	path = modules/mplayer
	url = git://github.com/baudm/mplayer.py.git
[submodule "modules/docopt"]
	path = modules/docopt
	url = git://github.com/docopt/docopt.git
[submodule "py-sonic"]
	path = modules/pysonic
	url = https://github.com/crustymonkey/py-sonic.git
